<template>
	<div :class="['nav_arrow', dir]">
		<a @click="clickAction"><img :src="arrowImg" /></a>
	</div>
</template>
<script>
	import arrow_next from '../assets/img/nav_arrow_next.png'
	import arrow_prev from '../assets/img/nav_arrow_prev.png'

	export default {
		name: 'NavArrow',
		props: ['depth', 'dir', 'isSwitchingSection', 'isSwitchingItem'],
		computed: {
			arrowImg () {
				if (this.dir === 'next') {
					return arrow_next;
				}
				if (this.dir === 'prev') {
					return arrow_prev;
				}
				return ''
			},
		},
		methods: {
			clickAction () {
				switch (this.$parent.depth) {
					case '2' :
						if (this.dir === 'next') {
							this.$parent.nextItem()
						}
						if (this.dir === 'prev') {
							this.$parent.prevItem()
						}
						break;
					case '1' :
					default :
						if (this.dir === 'next') {
							this.$parent.nextSection()
						}
						if (this.dir === 'prev') {
							this.$parent.prevSection()
						}
						break;
				}
				return false
			}
		}
	}
</script>