<template>
	<div :id="section.slug" :class="['section', { active: (section.position === currentSection)}]">
		<h1>Section : {{ section.name }}</h1>
		<div class="tiles">
			<Tile v-for="item in section.items" :key="item.slug+'_tile'" :tile="item" />
		</div>
		<div class="subsection" v-if="section.position === currentSection">
			<Item v-for="item in section.items" :key="item.slug" :item="item" :currentItem="section.currentItem" />
		</div>
	</div>
</template>
<script>
	import Item from './Item'
	import Tile from './Tile'

	export default {
		name: 'Section',
		components: {
			Item,
			Tile
		},
		props: ['section', 'currentSection', 'fallback', 'isSwitchingSection'],
		computed: {
			/*
			tileset () {
				let _tiles = []
				for (let x=0; x<this.section.items.length; x++) {
					_tiles.push({
						slug:
						img: import('../assets/img/tile_'+this.section.items[x].slug+'.png')
					})
				}
				return _tiles
			}
			*/
		}
	}
</script>
<style>
	.is_switching_section .section {
		transition-duration: 1s;
		transition-delay: 0s, 0s, 0s;
	}

	.is_switching_section .section.active {
		transition-delay: 0s, 1s, 1s;
	}

	.section {
		border: 1px solid #000;
		margin: 40px auto;
		padding: 40px;
		width: 60%;
		transition-property: background-color, border, color;
		transition-duration: 0s;
		transition-delay: 0s, 0s, 0s;
	}

	.section.active {
		border: 10px solid red;
		color: red;
		background-color: #F88;
	}
</style>