<template>
	<div id="tile.slug" class="tile">
		Tile : {{ tile.slug }}
		{{ tileImage }}
	</div>
</template>
<script>
	import tile_broadsign_control from '@/assets/img/tile_broadsign_control.png'
	import tile_broadsign_direct from '@/assets/img/tile_broadsign_direct.png'
	import tile_broadsign_publish from '@/assets/img/tile_broadsign_publish.png'
	import tile_broadsign_reach from '@/assets/img/tile_broadsign_reach.png'

	import tile_flix from '@/assets/img/tile_flix.png'
	import tile_foodora from '@/assets/img/tile_foodora.png'
	import tile_johnlewis from '@/assets/img/tile_johnlewis.png'
	import tile_peugeot from '@/assets/img/tile_peugeot.png'
	import tile_seat from '@/assets/img/tile_seat.png'
	import tile_xite from '@/assets/img/tile_xite.png'

	import tile_cinema from '@/assets/img/tile_cinema.png'
	import tile_gas_stations from '@/assets/img/tile_gas_stations.png'
	import tile_healthcare from '@/assets/img/tile_healthcare.png'

	export default {
		name: 'Tile',
		props: ['tile']
	}
</script>