@font-face {
  font-family: "Roboto Black";
  src: url("./fonts/Roboto-Black.woff2") format("woff2"), url("./fonts/Roboto-Black.woff") format("woff"), url("./fonts/Roboto-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("ttf");
}
/*

DUNNO YET IF THESE ROBOTOS WILL BE USEFUL FOR THIS DECK

@font-face {
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto-Medium.woff") format("woff"),
    url("/fonts/Roboto-Medium.ttf") format("ttf");
}


@font-face {
  font-family: "Roboto Light";
  src: url("/fonts/Roboto-Light.woff2") format("woff2"),
    url("/fonts/Roboto-Light.woff") format("woff"),
    url("/fonts/Roboto-Light.ttf") format("ttf");
}

DUNNO YET IF MERRIWEATHER WILL BE USEFUL FOR THIS DECK

@font-face {
  font-family: "Merriweather Black";
  src: url("/fonts/Merriweather-Black.woff2") format("woff2"),
    url("/fonts/Merriweather-Black.woff") format("woff"),
    url("/fonts/Merriweather-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather Bold";
  src: url("/fonts/Merriweather-Bold.woff2") format("woff2"),
    url("/fonts/Merriweather-Bold.woff") format("woff"),
    url("/fonts/Merriweather-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather Regular";
  src: url("/fonts/Merriweather-Regular.woff2") format("woff2"),
    url("/fonts/Merriweather-Regular.woff") format("woff"),
    url("/fonts/Merriweather-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather Light";
  src: url("/fonts/Merriweather-Light.woff2") format("woff2"),
    url("/fonts/Merriweather-Light.woff") format("woff"),
    url("/fonts/Merriweather-Light.ttf") format("ttf");
}

*/
@keyframes click_nav_arrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 94, sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 98, sass/_base.scss */
body {
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  color: #FFF;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

/* line 107, sass/_base.scss */
a,
a:link,
a:hover,
a:active {
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* line 121, sass/_base.scss */
#app {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

/* line 1, sass/_parent.scss */
.parent {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 0 0 100vw;
  flex-flow: row nowrap;
  height: 100vh;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  transition: transform 0.5s ease-in-out 0.1s;
  width: 100vw;
  z-index: 10;
}
/* line 13, sass/_parent.scss */
.parent[data-current="products"] {
  transform: translateX(0vw);
}
/* line 16, sass/_parent.scss */
.parent[data-current="products"] #top_bar {
  left: 0vw;
}
/* line 21, sass/_parent.scss */
.parent[data-current="programmatic"] {
  transform: translateX(-100vw);
}
/* line 24, sass/_parent.scss */
.parent[data-current="programmatic"] #top_bar {
  left: 100vw;
}
/* line 29, sass/_parent.scss */
.parent[data-current="verticals"] {
  transform: translateX(-200vw);
}
/* line 32, sass/_parent.scss */
.parent[data-current="verticals"] #top_bar {
  left: 200vw;
}
/* line 38, sass/_parent.scss */
.parent.sliding .slide .nav_arrow {
  opacity: 0.2;
}
/* line 46, sass/_parent.scss */
.parent.diving > .slide .nav_arrow {
  opacity: 0;
}
/* line 52, sass/_parent.scss */
.parent.diving > .slide#products .item:not(:hover):not(:active) {
  max-width: 0vw;
}
/* line 55, sass/_parent.scss */
.parent.diving > .slide#products .item:not(:hover):not(:active) img {
  transform: scale(1.1);
  z-index: 1;
}
/* line 63, sass/_parent.scss */
.parent.diving > .slide#products .item:active img, .parent.diving > .slide#products .item:hover img {
  transform: scale(1.4);
  transition: transform 0.6s ease-in-out 0s;
  z-index: 2;
}
/* line 74, sass/_parent.scss */
.parent .slide {
  flex: 0 0 100vw;
  height: 100vh;
  position: relative;
  width: 100vw;
}
/* line 80, sass/_parent.scss */
.parent .slide .nav_arrow {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  display: flex;
  font-size: 0;
  height: 100%;
  margin: 0 1vw;
  position: absolute;
  top: 0;
  transition: opacity 0.1s ease-in-out 0s;
  width: 5vw;
}
/* line 94, sass/_parent.scss */
.parent .slide .nav_arrow.next {
  background-image: url("./img/nav_arrow_next.png");
  right: 0;
}
/* line 99, sass/_parent.scss */
.parent .slide .nav_arrow.prev {
  background-image: url("./img/nav_arrow_prev.png");
  left: 0;
}
/* line 107, sass/_parent.scss */
.parent .slide .title {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #83DBE7;
  font-family: "Roboto Black";
  font-size: 4vw;
  font-variant: small-caps;
  height: 13vh;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  width: 100%;
}
/* line 120, sass/_parent.scss */
.parent .slide .outer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  bottom: 0;
  height: 87vh;
  position: absolute;
  width: 100%;
}
/* line 127, sass/_parent.scss */
.parent .slide .outer .inner {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 70vh;
  justify-content: center;
}
/* line 138, sass/_parent.scss */
.parent .slide#products .outer .inner {
  width: 86vw;
}
/* line 142, sass/_parent.scss */
.parent .slide#products .item {
  align-items: stretch;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0 10px;
  max-height: 50vh;
  max-width: calc(25% - 20px);
  transition: max-width 0.8s ease-in-out 0.1s;
  flex-grow: 1;
  flex-shrink: 1;
}
/* line 154, sass/_parent.scss */
.parent .slide#products .item img {
  display: inline-block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  transition: transform 0.2s ease-in-out 0s;
  width: auto;
  object-fit: contain;
}
/* line 167, sass/_parent.scss */
.parent .slide#programmatic .outer .inner {
  width: 62vw;
}
/* line 173, sass/_parent.scss */
.parent .slide#verticals .outer .inner {
  width: 62vw;
}

/* line 180, sass/_parent.scss */
.back {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  bottom: 2vh;
  height: 50px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10000000;
}
/* line 190, sass/_parent.scss */
.back a {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #001464;
  border: 1px solid #FFF;
  border-radius: 20px;
  color: #FFF;
  font-family: "Roboto Black";
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
}

/* line 205, sass/_parent.scss */
.msg {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #F00;
  font-family: "Roboto Black";
  font-size: 4vw;
  font-variant: small-caps;
  height: 70px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-transform: lowercase;
  top: 10vh;
  width: 100%;
}

@media (max-width: 770px) and (orientation: portrait) {
  /* line 222, sass/_parent.scss */
  .parent .slide .title {
    font-size: 10vw;
    height: 16vh;
  }
  /* line 228, sass/_parent.scss */
  .parent .slide#products .outer {
    bottom: 6vh;
    height: 78vh;
  }
  /* line 232, sass/_parent.scss */
  .parent .slide#products .outer .inner {
    height: 16vh;
    width: 76vw;
  }
  /* line 237, sass/_parent.scss */
  .parent .slide#products .outer .item {
    margin: 30px 0;
    max-height: 20vh;
    max-width: calc(50% - 30px);
  }
}
/* line 1, sass/_child.scss */
.children {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  flex: 0 0 100vw;
  flex-flow: row nowrap;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.6s ease-in-out 0s;
  width: 100vw;
  z-index: 100;
}
/* line 15, sass/_child.scss */
.children.active {
  opacity: 1;
  pointer-events: all;
  transition: transform 0.5s ease-in-out 0.1s, opacity 0.6s ease-in-out 1s;
}
/* line 21, sass/_child.scss */
.children .child {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 0 0 100vw;
  flex-flow: row nowrap;
  height: 100vh;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  transition: transform 0.5s ease-in-out 0.1s, opacity 0.6s ease-in-out 0s;
  width: 100vw;
  z-index: 10;
}
/* line 33, sass/_child.scss */
.children .child[data-current="broadsign-control"] {
  transform: translateX(0vw);
}
/* line 37, sass/_child.scss */
.children .child[data-current="broadsign-direct"] {
  transform: translateX(-100vw);
}
/* line 41, sass/_child.scss */
.children .child[data-current="broadsign-publish"] {
  transform: translateX(-200vw);
}
/* line 45, sass/_child.scss */
.children .child[data-current="broadsign-reach"] {
  transform: translateX(-300vw);
}
/* line 50, sass/_child.scss */
.children .child.sliding .slide .nav_arrow {
  opacity: 0.2;
}

/* line 1, sass/_component_top_bar.scss */
#top_bar {
  align-items: center;
  background-color: #001464;
  color: #FFF;
  display: flex;
  justify-content: center;
  left: 0;
  max-height: 0px;
  overflow: hidden;
  padding: 0 10vw;
  position: fixed;
  top: 0;
  transition: max-height 0.6s ease-in-out 0s, padding 0.6s ease-in-out 0s, left 0.5s ease-in-out 0.1s, opacity 0.3s;
  width: 100%;
  z-index: 100;
}
/* line 17, sass/_component_top_bar.scss */
#top_bar #search_field {
  border: 1px solid #FFF;
  border-radius: 10px;
  opacity: 0.6;
  outline: none !important;
  padding: 3px 10px 2px;
  transition: opacity 0.3s;
  width: 100%;
}
/* line 26, sass/_component_top_bar.scss */
#top_bar #search_field:focus {
  opacity: 1;
}

/* line 33, sass/_component_top_bar.scss */
.parent.show_top_bar #top_bar {
  max-height: 20vh;
  padding-bottom: 6vh;
  padding-top: 6vh;
}

/* line 43, sass/_component_top_bar.scss */
.parent.sliding #top_bar {
  opacity: 0;
}
