<template>
	<div id="app" :class="{is_switching_section: isSwitchingSection}">
		<p>Current Section : {{ tree[currentSection].name }}</p>
		<p>Current Position : {{ currentSection }}</p>
		<NavArrow depth="1" dir="prev" />
		<Section v-for="section in tree" :key="section.slug+section.position" :section="section" :currentSection="currentSection" />
		<NavArrow depth="1" dir="next" />
	</div>
</template>
<script>
	import Section from './components/Section'
	import NavArrow from './components/NavArrow'
	export default {
		name: 'app',
		components: {
			Section,
			NavArrow
		},
		data() {
			return {
				depth: 1,
				currentSection: 1,
				isSwitchingSection: false,
				tree: [{
					position: 1,
					slug: 'products',
					name: 'Products',
					items: [{
						slug: 'broadsign_control',
						name: 'Broadsign Control'
					}, {
						slug: 'broadsign_direct',
						name: 'Broadsign Direct'
					}, {
						slug: 'broadsign_publish',
						name: 'Broadsign Publish'
					}, {
						slug: 'broadsign_reach',
						name: 'Broadsign Reach'
					}],
					currentItem: 0
				}, {
					position: 2,
					slug: 'programmatic',
					name: 'Programmatic',
					items: [{
						slug: 'foodora',
						name: 'Foodora'
					}, {
						slug: 'peugeot',
						name: 'Peugeot'
					}, {
						slug: 'flix',
						name: 'Flix'
					}, {
						slug: 'xite',
						name: 'Xite'
					}, {
						slug: 'seat',
						name: 'Seat'
					}, {
						slug: 'johnlewis',
						name: 'John Lewis'
					}],
					currentItem: 0
				}, {
					position: 3,
					slug: 'verticals',
					name: 'Verticals',
					items: [{
						slug: 'cinema',
						name: 'Cinema'
					}, {
						slug: 'gas_stations',
						name: 'Gas Stations'
					}, {
						slug: 'healthcare',
						name: 'Healthcare'
					}],
					currentItem: 0
				}]
			}
		},
		mounted () {
			this.$nextTick(function () {
				let first = this.clone(this.tree[this.tree.length - 1])
				first.position = 0
				this.tree.unshift(first)

				let last = this.clone(this.tree[1])
				last.position = (this.tree.length)
				this.tree.push(last)
			})
		},
		computed: {
		},
		methods: {
			clone(obj) {
				var copy;
				if (null == obj || "object" != typeof obj) return obj;
				if (obj instanceof Object) {
					copy = {};
					for (var attr in obj) {
						if (obj.hasOwnProperty(attr)) copy[attr] = this.clone(obj[attr]);
					}
					return copy;
				}
				throw new Error("Unable to copy obj! Its type isn't supported.");
			},
			nextSection() {
				this.isSwitchingSection = true
				this.currentSection += 1
				setTimeout(() => {
					this.isSwitchingSection = false
					if (this.currentSection >= (this.tree.length - 1)) {
						this.currentSection = 1
					}
				}, 2000)
			},
			prevSection() {
				this.isSwitchingSection = true
				this.currentSection -= 1
				setTimeout(() => {
					this.isSwitchingSection = false
					if (this.currentSection <= 0) {
						this.currentSection = (this.tree.length - 2)
					}
				}, 2000)
			},
			nextItem() {
			},
			prevItem() {
			}
		}
	}
</script>
<style lang="scss">
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		margin-top: 60px;
	}

	.nav_arrow {
		position: fixed;
		width: 50px;
		top: 25%;
		max-height: 50%;
		cursor: pointer;
	}

	.nav_arrow.next {
		right: 20px;
	}

	.nav_arrow.prev {
		left: 20px;
	}
</style>