@font-face {
  font-family: "Roboto Black";
  src: url("./fonts/Roboto-Black.woff2") format("woff2"),
    url("./fonts/Roboto-Black.woff") format("woff"),
    url("./fonts/Roboto-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto-Regular.woff") format("woff"),
    url("./fonts/Roboto-Regular.ttf") format("ttf");
}

/*

DUNNO YET IF THESE ROBOTOS WILL BE USEFUL FOR THIS DECK

@font-face {
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto-Medium.woff") format("woff"),
    url("/fonts/Roboto-Medium.ttf") format("ttf");
}


@font-face {
  font-family: "Roboto Light";
  src: url("/fonts/Roboto-Light.woff2") format("woff2"),
    url("/fonts/Roboto-Light.woff") format("woff"),
    url("/fonts/Roboto-Light.ttf") format("ttf");
}

DUNNO YET IF MERRIWEATHER WILL BE USEFUL FOR THIS DECK

@font-face {
  font-family: "Merriweather Black";
  src: url("/fonts/Merriweather-Black.woff2") format("woff2"),
    url("/fonts/Merriweather-Black.woff") format("woff"),
    url("/fonts/Merriweather-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather Bold";
  src: url("/fonts/Merriweather-Bold.woff2") format("woff2"),
    url("/fonts/Merriweather-Bold.woff") format("woff"),
    url("/fonts/Merriweather-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather Regular";
  src: url("/fonts/Merriweather-Regular.woff2") format("woff2"),
    url("/fonts/Merriweather-Regular.woff") format("woff"),
    url("/fonts/Merriweather-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather Light";
  src: url("/fonts/Merriweather-Light.woff2") format("woff2"),
    url("/fonts/Merriweather-Light.woff") format("woff"),
    url("/fonts/Merriweather-Light.ttf") format("ttf");
}

*/

@mixin flexCenterAll {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

@keyframes click_nav_arrow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  color: #FFF;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

a,
a:link,
a:hover,
a:active {
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#app {
  @include flexCenterAll;
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
