.children {
  @include flexCenterAll;
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  flex: 0 0 100vw;
  flex-flow: row nowrap;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.6s ease-in-out 0s;
  width: 100vw;
  z-index: 100;

  &.active {
    opacity: 1;
    pointer-events: all;
    transition: transform 0.5s ease-in-out 0.1s, opacity 0.6s ease-in-out 1s;
  }

  .child {
    @include flexCenterAll;
    flex: 0 0 100vw;
    flex-flow: row nowrap;
    height: 100vh;
    justify-content: flex-start;
    left: 0;
    position: absolute;
    transition: transform 0.5s ease-in-out 0.1s, opacity 0.6s ease-in-out 0s;
    width: 100vw;
    z-index: 10;

    &[data-current="broadsign-control"] {
      transform: translateX(0vw);
    }

    &[data-current="broadsign-direct"] {
      transform: translateX(-100vw);
    }

    &[data-current="broadsign-publish"] {
      transform: translateX(-200vw);
    }

    &[data-current="broadsign-reach"] {
      transform: translateX(-300vw);
    }

    &.sliding {
      .slide .nav_arrow {
        opacity: 0.2;
      }
    }
  }
}

@media (max-width: 770px) and (orientation: portrait) {}
