#top_bar {
  align-items: center;
  background-color: #001464;
  color: #FFF;
  display: flex;
  justify-content: center;
  left: 0;
  max-height: 0px;
  overflow: hidden;
  padding: 0 10vw;
  position: fixed;
  top: 0;
  transition: max-height 0.6s ease-in-out 0s, padding 0.6s ease-in-out 0s, left 0.5s ease-in-out 0.1s, opacity 0.3s;
  width: 100%;
  z-index: 100;

  #search_field {
    border: 1px solid #FFF;
    border-radius: 10px;
    opacity: 0.6;
    outline: none !important;
    padding: 3px 10px 2px;
    transition: opacity 0.3s;
    width: 100%;

    &:focus {
      opacity: 1;
    }
  }
}

.parent.show_top_bar {
  #top_bar {
    max-height: 20vh;
    padding-bottom: 6vh;
    padding-top: 6vh;
  }

  .slide {}
}

.parent.sliding {
  #top_bar {
    opacity: 0;
  }
}
