.parent {
  @include flexCenterAll;
  flex: 0 0 100vw;
  flex-flow: row nowrap;
  height: 100vh;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  transition: transform 0.5s ease-in-out 0.1s;
  width: 100vw;
  z-index: 10;

  &[data-current="products"] {
    transform: translateX(0vw);

    #top_bar {
      left: 0vw;
    }
  }

  &[data-current="programmatic"] {
    transform: translateX(-100vw);

    #top_bar {
      left: 100vw;
    }
  }

  &[data-current="verticals"] {
    transform: translateX(-200vw);

    #top_bar {
      left: 200vw;
    }
  }

  &.sliding {
    .slide .nav_arrow {
      opacity: 0.2;
    }
  }

  &.diving {
    &>.slide {

      .nav_arrow {
        opacity: 0;
      }

      &#products {
        .item {
          &:not(:hover):not(:active) {
            max-width: 0vw;

            img {
              transform: scale(1.1);
              z-index: 1;
            }
          }

          &:active,
          &:hover {
            img {
              transform: scale(1.4);
              transition: transform 0.6s ease-in-out 0s;
              z-index: 2;
            }
          }
        }
      }
    }
  }

  .slide {
    flex: 0 0 100vw;
    height: 100vh;
    position: relative;
    width: 100vw;

    .nav_arrow {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: transparent;
      display: flex;
      font-size: 0;
      height: 100%;
      margin: 0 1vw;
      position: absolute;
      top: 0;
      transition: opacity 0.1s ease-in-out 0s;
      width: 5vw;

      &.next {
        background-image: url("./img/nav_arrow_next.png");
        right: 0;
      }

      &.prev {
        background-image: url("./img/nav_arrow_prev.png");
        left: 0;
      }

      &:hover {}
    }

    .title {
      @include flexCenterAll;
      color: #83DBE7;
      font-family: "Roboto Black";
      font-size: 4vw;
      font-variant: small-caps;
      height: 13vh;
      margin: 0;
      padding: 0;
      text-transform: lowercase;
      width: 100%;
    }

    .outer {
      @include flexCenterAll;
      bottom: 0;
      height: 87vh;
      position: absolute;
      width: 100%;

      .inner {
        align-content: center;
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        height: 70vh;
        justify-content: center;
      }
    }

    &#products {
      .outer .inner {
        width: 86vw;
      }

      .item {
        align-items: stretch;
        display: flex;
        height: auto;
        justify-content: center;
        margin: 0 10px;
        max-height: 50vh;
        max-width: calc(25% - 20px);
        transition: max-width 0.8s ease-in-out 0.1s;
        flex-grow: 1;
        flex-shrink: 1;

        img {
          display: inline-block;
          height: auto;
          max-height: 100%;
          max-width: 100%;
          transition: transform 0.2s ease-in-out 0s;
          width: auto;
          object-fit: contain;
        }
      }
    }

    &#programmatic {
      .outer .inner {
        width: 62vw;
      }
    }

    &#verticals {
      .outer .inner {
        width: 62vw;
      }
    }
  }
}

.back {
  @include flexCenterAll;
  bottom: 2vh;
  height: 50px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10000000;

  a {
    @include flexCenterAll;
    background-color: #001464;
    border: 1px solid #FFF;
    border-radius: 20px;
    color: #FFF;
    font-family: "Roboto Black";
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
  }
}

.msg {
  @include flexCenterAll;
  color: #F00;
  font-family: "Roboto Black";
  font-size: 4vw;
  font-variant: small-caps;
  height: 70px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-transform: lowercase;
  top: 10vh;
  width: 100%;
}

@media (max-width: 770px) and (orientation: portrait) {
  .parent {
    .slide .title {
      font-size: 10vw;
      height: 16vh;
    }

    .slide#products {
      .outer {
        bottom: 6vh;
        height: 78vh;

        .inner {
          height: 16vh;
          width: 76vw;
        }

        .item {
          margin: 30px 0;
          max-height: 20vh;
          max-width: calc(50% - 30px);
        }
      }
    }
  }
}
